/*
 * Basics
 */

body {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    color: #736a62;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}



/*
 * Header
 */

header {
    margin-top: 30px;
    text-transform: uppercase;
    color: #8697a6;
}

h1 {
    margin: 5px 0 0 0;
    font-size: 60px;
    font-weight: 100;
}

.header-hr {
    height: 4px;
    background-color: #8697a6;
}

.logo {
    text-align: center;
}

.logo-img {
    margin-bottom: 20px;
}



/*
 * Main content
 */

h2 {
    margin: 25px 0 10px 15px;
    font-size: 36px;
    text-align: center;
    color: #736a62;
}

h3 {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 36px;
    color: #8697a6;
}

p {
    margin-bottom: 30px;
    font-size: 18px;
    color: #8697a6;
}

a {
    color: #8697a6;
}

.featured-project-img {
    margin: 15px 0;
}



/*
 * Footer
 */

.footer-hr {
    margin: 0;
    height: 1px;
    background-color: #736a62;
}

.copyright {
    margin: 1em 0;
    color: #736a62;
}



/*
 * Responsive media queries
 */

@media screen and (min-width: 768px) {
    .logo {
        text-align: left;
    }

    .logo-img {
        margin-bottom: 0;
    }

    h2 {
        text-align: left;
    }

    p {
        font-size: 14px;
    }
}